<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")
        title Ice
        link(rel="stylesheet", href="/threejs/static/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/threejs/static/style/canvas_ice.css")
    body
        //- 3d 
        #webgl-container
        #nuts
            .nut(data-index=0)
            .nut(data-index=1)
            .nut(data-index=2)
            .nut(data-index=3)
            .nut(data-index=4)
        script(src="/threejs/static/lib/threejs/stats.min.js")
        script(src="/threejs/static/lib/threejs/dat.gui.min.js")
        script(src="/threejs/static/lib/threejs/Detector.js")
        script(src="/threejs/static/script/canvas_catchfish_base.js")
        script(src="/threejs/static/lib/threejs2/controls/OrbitControls.js")
        script(src="/threejs/static/lib/threejs2/GLTFLoader.js")
        script(src="/threejs/static/lib/threejs/tween.js")
        script(src="/threejs/static/script/canvas_ice_game.js")
        