<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")
        title Cow
        //- link(rel="stylesheet", href="/threejs/static/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/threejs/static/style/canvas_cow.css")
    body
        #game-root
            #webgl-container
            //- 滴落奶
            #fall-milk
            //- 牛奶盒
            #milkbox1.milkbox
            #milkbox2.milkbox.hide
            #milkbox3.milkbox.hide
            //- 金典牛奶
            #milk
            //- 挤牛奶
            #milkink.hide
            //- 蝴蝶
            #fly
            //- 点击挤牛奶
            #cow-naz
            #product-page
                .product
                .case-shake
                .case-open
                .buy-btn
            #loading 加载中...
        //- script(src="/threejs/static/lib/threejs/stats.min.js")
        //- script(src="/threejs/static/lib/threejs/dat.gui.min.js")
        //- script(src="/threejs/static/lib/threejs/Detector.js")
        script(src="/threejs/static/script/canvas_cow_base.js")
        //- script(src="/threejs/static/lib/threejs2/controls/OrbitControls.js")
        script(src="/threejs/static/lib/threejs2/GLTFLoader.js")
        script(src="/threejs/static/lib/threejs/tween.js")
        script(src="/threejs/static/module/animate/cartoon.js")
        script(src="/threejs/static/script/canvas_cow_game.js")
        