<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")
        title Mountain
        link(rel="stylesheet", href="/threejs/static/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/threejs/static/style/canvas_mountain.css")
    body
        //- 3d 
        #webgl-container
        //- 静态云
        #fade-cloud
            .left-cloud
            .right-cloud
            .bottom-cloud
        //- 吸云背景
        #cloud
        //- 水瓶背景
        #water.ready
        //- #animal
        #product-page
            .product
            .case-shake
            .case-open
            .buy-btn
        #loading 加载中...
        script(src="/threejs/static/lib/threejs/stats.min.js")
        script(src="/threejs/static/lib/threejs/dat.gui.min.js")
        script(src="/threejs/static/lib/threejs/Detector.js")
        script(src="/threejs/static/script/canvas_catchfish_base.js")
        script(src="/threejs/static/lib/threejs2/controls/OrbitControls.js")
        script(src="/threejs/static/lib/threejs2/GLTFLoader.js")
        script(src="/threejs/static/lib/threejs/tween.js")
        script(src="/threejs/static/module/animate/cartoon.js")
        script(src="/threejs/static/script/canvas_mountain_game.js")
        