<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")
        title Snow
        link(rel="stylesheet", href="/threejs/static/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/threejs/static/style/canvas_snow.css")
    body
        #snow-container
            #back-1-1
            #back-1-2
            #back-2
            //- 3d 
            #webgl-container
            #cloud-container
                #cloud
                #only-cloud
            #product-page
                .product
                .case-shake
                .case-open
                .buy-btn
            #ice-container.fly
                .ice-cream#ice
                .ice-cream#nut-ice
                .ice-cream#nut
        #loading 加载中...
        script(src="/threejs/static/lib/threejs/stats.min.js")
        script(src="/threejs/static/lib/threejs/dat.gui.min.js")
        script(src="/threejs/static/lib/threejs/Detector.js")
        script(src="/threejs/static/script/canvas_catchfish_base.js")
        script(src="/threejs/static/lib/threejs2/controls/OrbitControls.js")
        script(src="/threejs/static/lib/threejs2/GLTFLoader.js")
        script(src="/threejs/static/lib/threejs/tween.js")
        script(src="/threejs/static/module/animate/cartoon.js")
        script(src="/threejs/static/script/canvas_snow_game.js")
        