<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title ThreeJS For Fun ${title}
    link(rel="stylesheet", href="/threejs/static/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/threejs/static/style/base.css")
body
    .row
        .col-md-3
            h2 目录
            .list-group#threejs-demo-list
    script(src="/threejs/static/script/base.js")
    script.
        $(document).ready(function() {
            //-  初始化目录列表 =========================================
            var PRE = '/threejs/demo';
            var list = [
                {name: '首页', url: PRE + '/helloworld'},
                {name: '旋转的立方体', url: PRE + '/旋转的立方体'}
            ];
            var $demolist = $('#threejs-demo-list');
            var $list = $('<div></div>');
            var tmp;

            list.forEach(function(item, index) {
                tmp = $('<a target="_blank"></a>');
                tmp.attr('href', item.url);
                if (index === 0) {
                    tmp.addClass('active');
                }
                tmp.addClass('list-group-item');
                tmp.text(item.name);
                $list.append(tmp);
            })
            console.log('xxx:', $list.html());
            $demolist.html($list.html());
        })