<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title ${title}
        link(rel="stylesheet", href="/threejs/static/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/threejs/static/style/base.css")
    body
        script(src="/threejs/static/script/base.js")
        block content