<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Draw a point
body(onload="main()")
    p hello point
    canvas#webgl(width="400" height="400") Please use the browser supporting "canvas"

    script(src="/threejs/static/lib/webglutils/webgl-utils.js")
    script(src="/threejs/static/lib/webglutils/webgl-debug.js")
    script(src="/threejs/static/lib/webglutils/cuon-utils.js")
    script.
        // HelloTriangle.js (c) 2012 matsuda
        // Vertex shader program
        var VSHADER_SOURCE =
            'attribute vec4 a_Position;\n' +
            'uniform vec4 u_Translation;\n' + 
            'void main() {\n' +
            '  gl_Position = a_Position + u_Translation;\n' +
            '}\n';

        // Fragment shader program
        var FSHADER_SOURCE =
            'void main() {\n' +
            '  gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);\n' +
            '}\n';

        var Tx = 0.5, Ty = .5, Tz = .0;

        function main() {
            // Retrieve <canvas> element
            var canvas = document.getElementById('webgl');

            // Get the rendering context for WebGL
            var gl = getWebGLContext(canvas);
            if (!gl) {
                console.log('Failed to get the rendering context for WebGL');
                return;
            }

            // Initialize shaders
            if (!initShaders(gl, VSHADER_SOURCE, FSHADER_SOURCE)) {
                console.log('Failed to intialize shaders.');
                return;
            }

            // Write the positions of vertices to a vertex shader
            var n = initVertexBuffers(gl);
            if (n < 0) {
                console.log('Failed to set the positions of the vertices');
                return;
            }
            var u_Translation = gl.getUniformLocation(gl.program, 'u_Translation');
            gl.uniform4f(u_Translation, Tx, Ty, Tz, 0.0);

            // Specify the color for clearing <canvas>
            gl.clearColor(0, 0, 0, 1);

            // Clear <canvas>
            gl.clear(gl.COLOR_BUFFER_BIT);

            // Draw the rectangle
            gl.drawArrays(gl.TRIANGLES, 0, n);
        }

        function initVertexBuffers(gl) {
            var vertices = new Float32Array([
                0, 0.5,   -0.5, -0.5,   0.5, -0.5
            ]);
            var n = 3; // The number of vertices

            // Create a buffer object
            var vertexBuffer = gl.createBuffer();
            if (!vertexBuffer) {
                console.log('Failed to create the buffer object');
                return -1;
            }

            // Bind the buffer object to target
            gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
            // Write date into the buffer object
            gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW);

            var a_Position = gl.getAttribLocation(gl.program, 'a_Position');
            if (a_Position < 0) {
                console.log('Failed to get the storage location of a_Position');
                return -1;
            }
            // Assign the buffer object to a_Position variable
            gl.vertexAttribPointer(a_Position, 2, gl.FLOAT, false, 0, 0);

            // Enable the assignment to a_Position variable
            gl.enableVertexAttribArray(a_Position);

            return n;
        }
