extends threejslayout

block content
    canvas#glcanvas

    script.
        $(document).ready(function() {
            start();
            console.log('WebGL World');

            function initWebGL(canvas) {
                window.gl = null;
                try {
                    gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
                } catch(e) {}

                if (!gl) {
                    alert('WebGL 初始化失败， 可能您的浏览器不支持！');
                    gl = null;
                }
                return gl;
            }
        
            function start() {
                var canvas = document.getElementById('glcanvas');
                gl = initWebGL(canvas);

                if (gl) {
                    // 设置清除颜色为黑色，不透明
                    gl.clearColor(0.0, 0.0, 0.0, 1.0);    
                    // 开启“深度测试”, Z-缓存
                    gl.enable(gl.DEPTH_TEST); 
                    // 设置深度测试，近的物体遮挡远的物体
                    gl.depthFunc(gl.LEQUAL); 
                    // 清除颜色和深度缓存
                    gl.clear(gl.COLOR_BUFFER_BIT|gl.DEPTH_BUFFER_BIT);  
                }
            }
        })
