body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;

    background-color: transparent;
    background-color: black;
    overflow: hidden;
}
#webgl-container,
.webgl-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#milkbox {
    position: absolute;
    right: 31%;
    // bottom: 52px;
    bottom: -160px;
    // display: none;
    width: 30%;
    height: 158px;

    background: url(/threejs/static/img/milk/milk1.png);
    background-size: cover;
}
#cow-naz {
    position: absolute;
    right: 31%;
    bottom: 196px;
    width: 30%;
    height: 200px;
    display: none;
    cursor: pointer;
    // background-color: gray;
}
#milkink {
    position: absolute;
    right: 26%;
    bottom: 100px;

    display: none;
    width: 30%;
    height: 158px;

    background: url(/threejs/static/img/milkink/milkink1.png);
    background-size: cover;
}

#milk {
    position: absolute;
    right: 25%;
    bottom: -100%;

    width: 100%;
    height: 504px;

    background: url(/threejs/static/img/box.png);
    background-size: cover;
}

#fly {
    position: absolute;
    top: 10px;
    right: 25%;

    width: 100%;
    height: 504px;

    background: url(/threejs/static/img/fly.png);
    background-size: cover;
}

