body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;

    background-color: transparent;
    background-color: black;
    // background-img: url('/threejs/static/img/mountainyun/吸云山_00014.png');
    background-size: cover;
}

#cloud,
#fade-cloud,
#webgl-container,
.webgl-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
#fade-cloud {
    background-image: url('/threejs/static/img/上下云透明.png');
    background-size: cover;
}

#water {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: url('/threejs/static/img/water/合成 1_2_00000.png');
    background-size: cover;
}

#loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
